/* SPATIAL HELPERS */
.vertical-spacing-10-px {
    height:10px;
}

.vertical-spacing-20-px {
    height: 20px;
}

.vertical-spacing-35-px {
    height: 35px;
}

.vertical-spacing-50-px {
    height: 50px;
}

.vertical-spacing-100-px {
    height: 100px;
}

.vertical-spacing-200-px {
    height: 200px;
}

.vertical-spacing-500-px {
    height: 500px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

/* ADDITIONAL ANGULAR MATERIAL FUNCTIONALITY */
.ng-scope {
    height: 100%;
}
.md-button.text-align-left {
    text-align: left;
}

.md-button.text-align-right {
    text-align: right;
}

button.md-fab > md-icon {
    padding-top: 6px;
}